<div style="text-align:center">
  <div class="card">
    <div class="card-header">
      <div class="card-body">
        <div class="table">
          <thead>
          <tr>
            <th class="table-warning">id</th>
            <th class="table-info">Nombre</th>
            <th class="table-warning">Apellido</th>
            <th class="table-info">Correo</th>
            <th class="table-warning">Telefono</th>
            <th class="table-info">Direccion</th>
            <th class="table-warning">Acciones</th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td>1</td>
            <td>Jordy</td>
            <td>Lemus</td>
            <td>jlemus9@gmail.com</td>
            <td>40752081</td>
            <td>san jose pinula</td>
            <td>
              <button (click)="editar()" class="btn btn-info" >Editar</button>

              | ELIMINAR</td>
          </tr>
          </tbody>
        </div>
      </div>
    </div>
  </div>
</div>
