<div class="container-fluid footer mx-auto">

    <div class="row">

          <div class="col6">
            <h5> SOLUCIONES MEDICAS</h5>
            <h1>____________________________________________</h1>
          </div>

          <div class="col4">
            <h5>Jormar, S.A  ·  6ta. Avenida 13-09 ZONA 9  ·  +502 2334 2509  ·  info@jormarsa.com</h5>

          </div>

          <div class="col2">
                     <a>Unete a Nosotros en: </a>
                    <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
                    <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
                    <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
                    <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
          </div>

     </div>

</div>
