.footer
{
  overflow: hidden;
  background-color: #e3f2fd;
  padding: 20px 10px;
}

.col6
{
  text-align: center;  font-family: Bebas;

  color: black;
}

h1
{
  text-align: center;
  color: black;
}

.col4
{
  font-family: "Accidental Presidency";

  text-align: center;
}

.col2
{
  text-align: center;
  font-family: Arvo;
border-color: midnightblue;
}
